@media screen and (max-width: 850px) {
    #img-sobre-mim {
        float: none !important;
    }

    #txt-sobre-mim p {
        clear: both;
        text-align: justify;
    }
}

@media screen and (max-width: 420px){
    header {
        position: unset;
        padding: 10px 0;
    }

    .caixa {
        display: flex;
        justify-content: space-between;
        text-align: right;
        padding: 0 30px !important;
    }

    header nav {
        position: static;
    }

    header nav a:nth-child(1) {
        margin-bottom: 5px;
    }
}