@charset "UTF-8";

html, body, main {
    height: 100%;
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: white;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}

#home {
    display: block;
    max-width: 100%;
    height: calc(100% - 60px);
    text-align: center;
    padding: 5%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img#logo-home {
    border-radius: 41px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    max-width: 100%;
}

div#text-page {
    height: 3000px;
    background-image: url("../img/fundo_text-page.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}