:root {
    --header-height: 60px;
}

@font-face {
    font-family: "Berkshire-Swash";
    src: url(../fonts/BerkshireSwash-Regular.ttf);
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: white;
    width: 100%;
    height: var(--header-height);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div.caixa {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

img#logo-header {
    margin-top: calc((var(--header-height) - 50px)/2);
}

nav {
    position: absolute;
    top: 22px;
    right: 0;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

header nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

header nav a:active {
    box-shadow:2px 2px 0px rgb(0, 0, 0) inset;
}

section#home {
    display: block;
    text-align: center;
    max-width: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img#logo {
    border-radius: 41px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    max-width: 90%;
}

div#page {
    background-image: url("../img/fundo_text-page.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

div#text-page {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h2.berkshire {
    font-family: Berkshire-Swash;
    color: #BE5C00;
    font-size: 80px;
}

section#sobre-mim {
    margin: 30px 0;
}

img#img-sobre-mim {
    max-width: 100%;
    float: left;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.500);
    margin-bottom: 20px;
    margin-right: 20px;
    transition: 0.5s;
}

img#img-sobre-mim:hover {
    opacity: 0.8;
}

p, ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
}

section#contato {
    clear: both;
}

li::before {
    content: "• ";
    color:black
}

h2#telefone {
    font-size: 30px;
}

a#whatsapp {
    padding: 10px;
    display: inline-block;
    margin: auto;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a#whatsapp:hover {
    background-color: lightgreen;
    cursor: pointer;
}

#telefone, #img_whatsapp {
    display: inline-block;
    vertical-align: middle;
}

footer {
    height: 80px;
    position: relative;
}

#rodape {
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 30px;
}
